* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    overflow-x: hidden; /* Remove scroll horizontal */
    width: 100%; /* Garante largura total */
    margin: 0;
    padding: 0;
}

.logo h5 {
    font-size: 12px;
    margin-top: -30px; /* Ajuste o valor conforme necessário */
    margin-left: 80px;
}

header {
    display: flex;
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: space-between; /* Espaça os itens entre as extremidades */
    padding: 10px 20px;
    background-color: gainsboro;
    width: 100%;
    position: relative;
    z-index: 10;
    height: 80px;
    box-sizing: border-box; /* Inclui padding no cálculo de largura */
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0 auto;
}

header img {
    max-height: 50px; /* Ajuste o tamanho da logo conforme necessário */
    margin-right: 10px; /* Espaço entre a logo e o título */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/*------------------------------------------------PARTE KEVIN--------------------------------------------------------------*/

.banner {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.text {
    flex: 1; /* Ocupa 50% da largura */
    padding-right: 2rem; /* Dá espaço entre o texto e a imagem */
}

.text h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.image-container {
    flex: 1; /* Ocupa 50% da largura */
    display: flex;
    justify-content: flex-end; /* Mantém a imagem na direita */
    height: 100%;
}

.image-container img {
    width: 100%; /* Faz a imagem ocupar todo o espaço disponível */
    height: 100%; /* Ajusta a altura para ocupar a seção inteira */
    object-fit: cover; /* Garante que a imagem cubra todo o espaço sem distorcer */
}

.content {
    display: flex;
    width: 100%;
}


.highlight {
    color:#9F082F;
}

.red-bar {
    border-bottom: 4px solid #9F082F;
    padding-bottom: 10px;
    margin: 10px 0 20px;
    color: #666;
    font-size: 1rem;
    display: inline-block;
    width: 71%;
}

.red-bar p {
    text-align: left;
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    background-color: #9F082F;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
    border-radius: 15px;
}

.btn:hover {
    background-color: #900000;
}

/*------------------------------------------------PARTE FELIPE--------------------------------------------------------------*/

